/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
.adjust-small {
    margin-top: 55px;
}

.adjust-large {
    margin-top: 105px;
}

.purple-box {
    display: inline-block;
    width: 20px;
    height: 19px;
    background-color:purple;
    border: none;
    transform: skewX(-25deg); 
    margin-right: 3px;
    margin-left: 4px;
    text-decoration: none;
}

.signedIn-purple-box {
    display: block;
    width: 17px;
    height: 13px;
    background-color:purple;
    border: none;
    transform: skewX(-25deg); 
    margin-right: 3px;
    margin-left: 4px;
    text-decoration: none;
}

.bandchamp-header {
    display: block;
    position: fixed;
    background:white;
    top: 0;
    width: 100%;
    height: 105px;
    justify-content:space-between;
    opacity: 0.98;
    z-index: 40;
}

.bandchamp-loggedin-header {
    display: block;
    position: fixed;
    background:white;
    top: 0;
    width: 100%;
    height: 55px;
    opacity: 0.98;
    z-index: 40;
}

.search-bar {
    display: block;
    position:relative;
    top:-2px;
    border: none;
    background: #f5f5f5;
    width: 294px;
    height: 36.5px;
    outline: none;
    text-indent: 10px;
}

.signedIn-search-bar {
    display: block;
    position:relative;
    top:-2px;
    border: none;
    background: #f5f5f5;
    width: 320px;
    height: 36px;
    outline: none;
    text-indent: 10px;
}

.gradient {
    font-weight: bold;
    background-color: #f3ec78;
    background-image: linear-gradient(to right,rgb(51, 51, 179), rgb(67, 168, 202));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.logo {
   display:flex;
   flex-direction: column;
   justify-content: flex-start;
   position: relative;
   top: 20px;
   height: 55px;
}

.logo h3 {
    margin-top: 18px;
    margin-right:3px;
}

.signedIn-logo {
    position:relative;
    top:-2px;
    padding-right: 17px;
}

.alignment {
    display: flex;
    width: 160px;
    align-items: center;
    text-decoration: none;
}

.signedIn-alignment {
    display: flex;
    width: 120px;
    align-items: center;
    text-decoration: none;
}


.title {
    display: inline-block;
    font-size: x-large;
    font-weight: 520;
    color: rgb(36, 39, 39);
    text-decoration: none;
}

.signedIn-title {
    display: block;
    font-size: large;
    color: rgb(36, 39, 39);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}


.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:9px;
    width: 242px;
    height: 25px;
}


.session-links {
    display: block;
    color:black;
    text-decoration: none;
    font-weight: 600;
}

.session-links:hover {
    cursor: pointer;
    text-decoration: underline;
}


.pageBody {
   height: 100%;
   width: 100%;
   background-color: whitesmoke;
}

.container {
    padding: 90px;
    display: block;
    text-align: center;
}


form {
    width: 100%;
    display: block;
    text-align: center;
}

h3.header {
    color:rgb(51,51,51);
    font-size: x-large;
}

.divider {
    border-bottom: 2px dotted lightgrey;
    margin: 40px;
}

.username {
    width: 100%;
    padding: 10px;
}

.password {
    width: 100%;
    padding: 10px;
}


#login-footer {
    padding: 50px;
}


#switch-text {
    font-size: small;
    color: grey;
}

.button {
    margin-top: 20px;
    background-color: rgb(0,161,198);
    border-style: hidden;
    cursor: pointer;
    width: 306px;
    height: 33px;
    color:white;
    font-weight: 550;
    outline: none;
}

input#password-field.invalid-creds {
    border-color: red;
}

input#username-field.invalid-creds {
    border-color: red;
}

input.modal-password-field.invalid-creds {
    border-color: red;
}

input.modal-username-field.invalid-creds {
    border-color: red;
}

input.modal-input-username.invalid-creds {
    border-color: red;
}
input.modal-input-password.invalid-creds {
    border-color: red;
}
input.modal-input-email.invalid-creds {
    border-color: red;
}


#password-field {
    display:inline-block;
    border: 1px solid lightgrey;
    width: 300px;
    height: 35px;
    outline: none;
    margin-right: 119px;
}

#username-field {
    display:inline-block;
    border: 1px solid lightgrey;
    width: 300px;
    height: 35px;
    outline: none;
    margin-right: 182px;
}

label {
    text-align: center;
    display:inline-block;
    margin-right: 20px;
    color:rgb(68,66,66);
    font-size: large;
}

.error-message {
    color: red;
    margin:0 auto;
}

.disappear {
    display:none;
}

footer {
    width:100%;
}

.login-page-logo {
    display:block;
}

div.banner {
    width:100%;
    background-color:rgb(226, 226, 226);
    position:relative;
    top:0;
    height:105px;
}

.header {
   text-decoration: none;
   color: black;
}

.bg-modal {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.modal-content1 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 555px;
    height: 550px;
    background-color: white;
    border-radius: 1.0%;
    overflow:hidden;
}

.modal-content2 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 555px;
    height: 400px;
    background-color: white;
    border-radius: 1.5%;
}

.modal-header {
    position: relative;
    display: flex; 
    align-items: center;
    background: #f5f5f5;
    height: 50px;
}

.modal-login-header {
    position: absolute;
    left: 20px;
    display:block;
    color:rgb(51,51,51);
    font-size: larger;
}

.close {
    position: absolute;
    right: 20px;
    font-size: x-large;
    color:rgb(179, 179, 179);
    border-radius: 2%;
}

.close:hover {
    cursor: pointer;
    color:rgb(131, 131, 131);
}

input::placeholder {
    font-size: small;
}

.modal-username-field {
    display:inline-block;
    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;
    outline: none;
    margin-right: 19px;
    padding:0;
    text-indent: 20px;
}

.modal-password-field {
    display:inline-block;
    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;
    outline: none;
    margin-right: 19px;
    padding:0;
    text-indent: 20px;
}

button.modal-version {
    margin-top: 20px;
    background-color: rgb(0,161,198);
    border-style: hidden;
    cursor: pointer;
    width: 300px;
    height: 33px;
    color:white;
    font-weight: 550;
    outline: none;
}

.modal-login-form {
    margin-top: 15px;
}

.afan {
    font-size: 12px;
    color: rgb(61, 154, 185);
}

.error-position {
    position:relative;
    display:inline-block;
    right: 8px;
    
}

.modal-signup-form {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 85%;
}

.modal-login-header {
    position:relative;
    right:10px;
}

#right-loggedin-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-loggedin-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 60px
}

.user-icons:hover {
    cursor: pointer;
    background-color:#f5f5f5;
}

.modal-signup-version-button {
    background-color: rgb(0,161,198);
    position: relative;
    top: -50px;
    overflow: hidden;
    border-style: hidden;
    cursor: pointer;
    width: 370px;
    height: 35px;
    color:white;
    font-weight: bolder;
    font-size: larger;
    outline: none;
    border-radius: 5px;
}

h6 {
    position: relative;
    bottom: 25px;
}

.modal-input-username {
    display: block;
    position: absolute;
    border: .5px solid rgb(177, 177, 177);
    width: 365px;
    height: 40px;
    outline: none;
    text-indent: 20px;
    bottom: 12%;
}
.modal-input-email {
    display: block;
    position: absolute;
    border: .5px solid rgb(177, 177, 177);
    width: 365px;
    height: 40px;
    outline: none;
    text-indent: 20px;
    top: 25%;
}
.modal-input-password {
    display: block;
    position: absolute;
    border: .5px solid rgb(177, 177, 177);
    width: 365px;
    height: 40px;
    outline: none;
    text-indent: 20px;
    top: 0%;
}

.signup-username-label {
    display: block;
    position: absolute;
    top:36%;
    left:16.5%;
}

.signup-email-label {
    display: block;
    position: absolute;
    top:9%;
    left:16.5%;
}

.signup-password-label {
    display: block;
    position: absolute;
    top:-18%;
    left:16.5%;
}

.modal-signup-username {
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:33.33%;
}

.modal-signup-email {
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:33.33%;
}

.modal-signup-password {
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:33.33%;
}

.signup-error-message {
    position: absolute;
    bottom: 5%;
}

.modal-error-email {
    position:absolute;
    display: block;
    left: 22%;
    bottom: 25%;
    color: red;
    margin:0 auto;
}
.modal-error-username {
    position:absolute;
    display: block;
    left: 22%;
    bottom: -3%;
    color: red;
    margin:0 auto;
}
.modal-error-password {
    position:absolute;
    display: block;
    left: 22%;
    top: 40%;
    color: red;
    margin:0 auto;
}

.dot {
  display: block;
  position: absolute;
  height: 29px;
  width: 29px;
  background: linear-gradient(to right,rgb(80, 35, 170),rgb(33, 38, 189),rgb(23, 91, 192));
  border-radius: 50%;
}

.welcome {
    display:inline-block;
    width: 100%;
    padding: 18px;
}

#logout-dropdown-content {
    display: block;
    position: relative;
    left: -88px;
    top: 88px;
    text-decoration: none;
    color: black;
    background-color: white;
    min-width: 238px;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 1;
    border-radius: 5px;
    box-shadow:0 0 3px #9e9e9e;
}

.drpdown-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    widows: 100%;
    height: 32px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color:black;
}

.drpdown-item:hover {
    background-color: #f5f5f5;
}

#username-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    widows: 100%;
    height: 60px;
    text-decoration: none;
}

#username-content:hover {
    background-color: #f5f5f5;
}

#username {
    text-decoration: none;
    cursor: pointer;
    color:black;
    font-weight: bold;
}

#user-collection {
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    color:black;
    font-size: small;
}

.demo-login-sign {
   display: inline-block;
   width: 250px;
   height: 100%;
}

.modal-error-message.disappear {
    display:none;
}

#audio-player {
    display: flex;
    width: 414px;
    height: 71px;
    position: relative;
    top: 75%;
    left: 7%;
    background: #faf7f7;
    z-index: 20;
    animation: appear .5s ease;
}

#audio-player2 {
    display: flex;
    width: 400px;
    height: 52px;
    /* position: relative;
    top: 75%;
    left: 7%; */
    background:transparent;
    z-index: 20;
    animation: appear .5s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input#audio-track[type='range'] {
  -webkit-appearance: none; 
  position: absolute;
  padding: 0;
  margin: 0;
  width: 313px;
  height: 13px; 
  bottom: 0%;
  background: transparent; 
  border-right: 1px solid gray;
}

input#audio-track2[type='range'] {
  -webkit-appearance: none; 
  padding: 0;
  margin: 0;
  width: 300px;
  height: 13px; 
  background: transparent; 
  border: 1px solid gray;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; 
}

input[type='range']::-ms-track {
  width: 313px;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 26px;
    background: rgb(84, 90, 97);
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  background: #e9e9e9;
}

input#audio-track2[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input#audio-track2[type='range']:focus {
  outline: none; 
}

input#audio-track2[type='range']::-ms-track {
  width: 250px;
  cursor: pointer;
  background: transparent; 
  border-color: grey;
  color: transparent;
}

input#audio-track2[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid grey;
    height: 13px;
    width: 26px;
    background:rgb(218, 218, 218);
}

input#audio-track2[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  background: transparent;
}

.audio-label {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    height: 57px;
    width: 335px;
    right: 0%;
    background: rgb(240, 239, 239);
}

.audio-label2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    height: 52px;
    width: 325px;
    background: transparent;
}

.btns {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(148, 106, 148);
    top: 0%;
    left: 0%;
    height: 58px;
    width: 79px;   
}

.btns2 {
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid black;
    height: 52px;
    width: 50px;   
}

#play-btn {
    margin-left: 5px;
    width: 18px;
    height: 22px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 11px 0px 11px 22px;
    border-color: transparent transparent transparent #fdfdfd;
}

#play-btn2 {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 11px 0px 11px 22px;
    border-color: transparent transparent transparent black;
    cursor: pointer;
}

#pause-btn {
    margin-left:30px;
    width: 27px;
    height: 28px;
    border-style: double;
    border-width: 0px 0px 0px 20px;
    border-color: #ffffff;
}

#pause-btn2 {
    margin-left:15px;
    width: 20px;
    height: 20px;
    border-style: double;
    border-width: 0px 0px 0px 20px;
    border-color: black;
    cursor: pointer;
}

.weekly-label {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 50%;
    width: 100%;
}

.date {
    color: grey;
    opacity: .8;
    margin-left: 10px;
}

.lower-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 100%;
}

.weekly {
    font-weight: 600;
}

.timer {
    font-size: 11px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 13px;
    width: 100px;
}

.timer2 {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
}

.graffiti-image {
    display: block;
    height: 480px;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    z-index: 10;
}

.graf-container {
    position: relative;
    background-color: rgb(214, 214, 214);
    display: block;
    width: 73%;
    height: 480px;
}

/* .graffiti-image:hover {
    cursor: pointer;
    opacity: 0.8;
} */

.img-container {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 480px;
}

.full-screen-img {
    display: block;
    height: 575px;
    width: 1279px;
    backface-visibility: hidden;
    position: absolute;
    -webkit-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    z-index: 20;
}

@keyframes animate {
    0% {
        width: 702.79px;
        height: 480px;
        opacity: .5;
    }
    100% {
        width: 1279px;
        height: 575px;
        opacity: 1;
    }
} 

.sidebar-container {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 480px;
    border-left: 3px solid white;
}

.building-image {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    transition: .5s ease;
    backface-visibility: hidden;
}

.side-img-container:hover {
   cursor: pointer;
   opacity: 0.8;
}

.building-image-words {
   position: absolute;
   display: block;
   top: 5%;
   left: 5%;
   color:rgb(255, 255, 255);
   font-weight: bolder;
   line-height: 21px;
   text-shadow: 1.5px 1.5px 2px rgb(7, 6, 6);
}

.side-img-container {
    position: relative;
    display: block;
    height: 33.33%;
    width: 100%;
    box-sizing: border-box;
    transition: .5s ease;
    backface-visibility: hidden;
}

.carousel-component {
    width:100%;
    height: 400px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.album-block {
    position:absolute;
    top: 110px;
    left: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 280px;
}

.img-block {
    width: 90%;
    height: 50%;
    margin:0 auto;
    margin-top:5px;
}

.img-block2 {
    width: 90%;
    height: 90%;
    margin:0 auto;
    margin-top:5px;
    margin-right:10px;
}

.album {
    display: flex;
    flex-wrap: column;
    position: relative;
    width:150px;
    height:240px;
    margin: 5px;
    color:black;
}

.album:active {
   color:black;
}
.album:visited {
   color:black;
}

.album:hover {
   background: rgb(235, 241, 250);
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    padding: 5px;
    width: 140px;
    height: 120px;
    bottom: 0%;
    color:black;
}

.song-title {
    display:block;
    font-weight: bolder;
    height: 10px;
}

.name {
    display:block;
    height: 10px;
}

.price {
    display:block;
    height: 10px;
}

.country {
    display:block;
    height: 10px;
}

.payment {
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-text {
    font-size: large;
}

.highlighted {
    font-weight: bolder;
}

.greyed-out {
    background-color: rgb(190, 189, 189);
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: rgba(13, 90, 104, 0.844);
}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    /* display: inline-block;     <-- old code with links
    width: 230px;
    margin-top: 41px; */
}

.clean-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    list-style: none;
    color: rgb(226, 226, 226);
    font-size: smaller;
}

.clean-list li:hover {
    text-decoration: underline;
}

#lng-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 125px;
    color: rgb(226, 226, 226);
    font-size: smaller;
    background-color: rgba(16, 104, 119, 0.844);
}

#lng-box:hover {
    background-color: rgba(7, 56, 65, 0.844);
}

#lng-color {
    color: rgb(171, 181, 189);
}

span#lng-color:hover {
    text-decoration: none;
}

#custom-item {
    color: rgb(226, 226, 226);
    font-size: smaller;
    margin-bottom: 19px;
}

#und:hover {
    text-decoration: underline;
}

#banner-spacing {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 110px;
    margin-left: 88px;
    margin-right: 88px;
}

#header-spacing {
    display:flex;
    box-sizing:border-box;
    justify-content: space-between;
    width:100%;
    height: 105px;
    padding-left: 78px;
    padding-right: 87px;
}

#loggedin-header-spacing {
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 55px;
    padding-left: 25px;
    padding-right: 25px;
}

#right-side-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.dot1 {
    height: 1.6px;
    width: 1.6px;
    background-color: rgb(174, 252, 134);
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 1.6px;
    width: 1.6px;
    background-color: rgb(185, 242, 120);
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    height: 1.6px;
    width: 1.6px;
    background-color: rgb(193, 232, 85);
    border-radius: 50%;
    display: inline-block;
}
.dot4 {
    height: 2px;
    width: 2px;
    background-color: rgb(234, 242, 86);
    border-radius: 50%;
    display: inline-block;
}
.dot5 {
    height: 2px;
    width: 2px;
    background-color: rgb(183, 199, 35);
    border-radius: 50%;
    display: inline-block;
}
.dot6 {
    height: 2.3px;
    width: 2.3px;
    background-color: rgb(229, 233, 9);
    border-radius: 50%;
    display: inline-block;
}
.dot7 {
    height: 2.6px;
    width: 2.6px;
    background-color: rgb(228, 221, 8);
    border-radius: 50%;
    display: inline-block;
}
.dot8 {
    height: 2.8px;
    width: 2.8px;
    background-color: rgb(219, 223, 14);
    border-radius: 50%;
    display: inline-block;
}

.dot-grid {
    height: 25px;
    margin:auto;
    display:flex;
    position: relative;
    top:4px;
    flex-direction: column;
    justify-content: space-evenly;
}

.line {
    display:flex;
    justify-content: space-evenly;
    width: 100px;
    height: 5px;
}

#bandchamp-daily {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1279px;
    height: 800px;
    background-color: #f0f2f2;
}

#song-collage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 84px;
    width: 1110px;
    height: 600px;
    overflow-x: hidden;
}

.slideRight {
    animation: slideRight 300ms ease;
}

.slideLeft {
    animation: slideLeft 300ms ease;
}

@keyframes slideRight {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(1106px);
    }
}
@keyframes slideLeft {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(-1106px);
    }
}

.album-page {
    text-decoration: none;
    background-color: white;
    height: 280px;
    width: 208px;
    cursor: pointer;
}
.album-page2 {
    text-decoration: none;
    background-color: white;
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.alb-pics {
    height: 150px;
    width: 208px;
}

#song-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#showcase {
    display: flex;
    flex-direction: row;
    width: 655px;
    height: 280px;
    background-color: white;
    cursor: pointer;
    color:black;
    text-decoration: none;
}
#showcase:active {
   color: black;
}
#showcase:visited {
   color:black;
}

#showcase-pic {
    width: 280px;
    height: 280px;
}

#frame {
    display: flex;
    width:375px;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: content-box;
    padding: 20px;
    font-size: 13px;
}

.frames {
    display: flex;
    height: 105px;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: content-box;
    padding: 10px;
    font-size: 13px;
    line-height: 17px;
}


.sng-title {
    margin-top:5px;
    color: rgb(119, 119, 119);
}

.feature {
    font-size: 10px;
    color: rgb(119, 119, 119);
}

#main-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

#main-title:hover {
    text-decoration: underline;
}

#by-title {
    margin-top: 7px;
    font-size: 18px;
}

#paragraph {
    margin-top: 14px;
    line-height: 17px;
    font-size: 14px;
}

.descriptions {
    color: black;
}

.descriptions:hover {
    text-decoration: underline;
}

#daily-title {
    display: flex;
    position: relative;
    left: -488px; 
    top: 50px;
    font-size: 14px;
    color: rgb(54, 113, 145);
    
}

#profile-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#profile-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 55px;
    height:100px;
    width:100%;
    background-color: rgb(235, 236, 240);
}

#add-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 30px;
    margin-bottom: 18px;
    color: rgb(119, 119, 119);
    font-size: 12px;
    cursor: pointer;
}

.banner-image {
    padding-left: 10px;
}

#spacer-banner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height:100px;
    width:93%;
    background-color: rgb(235, 236, 240);
}

#profile-settings {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 55px;
    width: 100%;
    height: 304px;
}

#profile-spacer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    width: 93%;
}

.settings-col {
    display: flex;
    flex-direction: column;
    height: 292px;
    width: 600px;
}

#prof-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top:-30px;
    border: 1px dashed grey;
    width: 210px;
    height: 220px;
    background-color: rgb(235, 236, 240);
    cursor: pointer;
}

.specifications {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(119, 119, 119);
    width: 100%;
    height: 55%;
}

#spec {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 55%;
}

#spec3 {
    padding:10px;
}

.profile-editors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 75px;
}

#edit-profile {
    height: 27px;
    width: 125px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    font-size: 13px;
    background-color: white;
    color: rgb(165, 165, 165);
    border: 1px solid rgb(165, 165, 165);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#this-user {
    font-size: 30px;
    font-weight: bolder;
    color:rgb(63, 59, 59);
}

#share-profile {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(26, 134, 206);
    font-size: 13px;
    width: 90px;
    cursor: pointer;
}

.pointer-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.modal-content3 {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 33%;
    left: 31%;
    overflow: hidden;
    width: 490px;
    height: 276px;
    border-radius: 1.5%;
    background-color: white;
    /* transform: translate(-50%,-50%); */
}

.modal-header1 {
    box-sizing:border-box;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #eeeded;
    height: 46px;
    padding-left:25px;
    padding-right:18px;
}

#stipulations {
    font-size: 11px;
    color:rgb(148, 147, 147);
    padding-top: 7px;
}

input[type="file"]{
  color: transparent;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    width: 352px;
    height: 45px;
    color:rgb(38, 155, 245);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 5px;
    margin-right: 0px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(223, 223, 223);
}

.inputfile + label {
	cursor: pointer;
}

#choose-file {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 230px;
    width: 490px;
}

#computer-icon {
    font-size: 22px;
    color: rgb(138, 128, 128);
}

ul#social-media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
}

/* ul#social-media-list li {
    list-style-type: none;
    display: block;       <-- old code w/ links 
    list-style-type: none;
    padding-bottom: 25px;
} */

#song-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-bottom: 30px;
    background-color: rgb(167, 128, 182);
}

#single-track {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 76%;
    height: 90%;
    background-color: white;
}

#song-header {
    width: 76%;
    height: 15%;
    background-color: rgb(41, 16, 28);
}

#music-community {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 38px;
    background-color: rgb(232, 232, 232);
}

.song-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
}

.song-info {
    display: flex;
    width: 100%;
    height: 94%;
    flex-direction: row;
    
}

#album-track-title {
    width: 85%;
    height: 100%;
}

#discography {
    width: 15%;
    height: 100%;
    background-color: lightblue;
}

#song-info-title {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left:40px;
    padding-right:40px;
    width:100%;
    height:15%;
    font-size:30px;
    font-weight: bold;
}

#trackANDalbum {
    display: flex;
    flex-direction: row;
    width:100%;
    height:85%;
}

#musicPlayerTrack {
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 90%;
}

#album-picture {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#album-picture-frame {
    width: 300px;
    height: 175px;
}

#indi {
    border-radius: 0;
    margin: 20px;
}

.digital-track {
    font-size: 14px;
    color: rgb(94, 88, 88);
}

#streaming-download {
    font-size: 12px;
    color: rgb(181, 181, 181);
    margin-bottom: 10px;
}

#includes-free {
    font-size: 12px;
    color: rgb(167, 164, 164);
    margin-bottom: 10px;
}

#buy-digi-track {
    font-size: 16px;
    font-weight:bold;
    color: rgb(55, 117, 175);
    margin-bottom: 20px;
}

#buy-full {
    font-size: 16px;
    font-weight:bold;
    color: rgb(55, 117, 175);
    margin-bottom: 20px;
}

#profile-picture {
    position: absolute;
    top: -1px;
    width: 212px;
    height: 222px;
}

#close-audio {
    border-style: none;
    text-decoration-color: white;
    opacity: .5;
    background-color: gray;
    color: white;
    position: relative;
    top: 35px;
    left: 7%;
    z-index: 25;
    border-radius: 5px;
}

button#close-audio:active {
    text-decoration: none;
    border-style: none;
}

button#close-audio:hover {
    cursor: pointer;
}

.switch-container {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 575px;
}

#bandchamp-selection {
   position: absolute;
   display: block;
   font-size: 30px;
   bottom: 28%;
   left: 5%;
   color:rgb(255, 255, 255);
   font-weight: bolder;
   line-height: 21px;
   text-shadow: 1.5px 1.5px 2px rgb(7, 6, 6);
   z-index: 11;
}

#read-more {
    display: inline-block;
    padding: 4px 7px 4px 7px;
    background: transparent;
    border: 1px solid white;
    text-decoration-color: white;
    background-color: none;
    color: white;
    height: 30px;
    width: 90px;
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 12;
    transition: opacity .3s ease-in-out;
}

#read-more:hover {
    /* width: 120px; */
    cursor: pointer;
    opacity: .6;
}

#read-more:active {
    outline: none;
}

#read-more:visited {
    outline: none;
}

.selection-container {
    position: absolute;
    top: 60%;
    left: 5%;
    height: 100px;
    width: 865px;
    z-index: 15;
}

.input-label {
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
    color: gray;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 74px;
}

#edit-frame {
    display: flex;
    flex-direction: column;
    padding: 43px;
    width: 730px;
    height: 430px;
}

#name-input {
    height: 34px;
    width: 464px;
    border: 1px solid rgb(170, 170, 170);
}

#location-input {
    height: 34px;
    width: 322px;
    border: 1px solid rgb(170, 170, 170);
}

#link-input {
    height: 34px;
    width: 307px;
    border: 1px solid rgb(170, 170, 170);
}

#about-me {
    height: 143px;
    width: 647px;
    border: 1px solid rgb(170, 170, 170);
    resize: none;
}

.input-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 74px;
}
.input-col:nth-of-type(2) {
    margin-left: 11px;
}

.input-col-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
}
.input-col-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 157px;
    resize: none;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.save-changes {
    display: block;
    height: 31px;
    width: 143px;
    color:white;
    background-color:rgb(53, 181, 220);
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    margin-left: 160px;
}
.save-changes:active {
    text-decoration: none;
    border-style: none;
}
.save-changes:hover {
    cursor: pointer;
}

.cancel-changes {
    display: block;
    height: 17px;
    width: 66px;
    margin-left:12px;
    margin-bottom:7px;
    border:none;
    background-color: transparent;
    font-weight: bold;
    color:rgb(53, 181, 220);
}
.cancel-changes:hover {
    cursor: pointer;
    text-decoration: underline;
}

form#edit-frame input:focus {
    outline:none;
    border-color: rgb(53, 181, 220);
    box-shadow: 0 0 1.5px rgb(53, 181, 220);
}
form#edit-frame textarea:focus {
    outline:none;
    border-color: rgb(53, 181, 220);
    box-shadow: 0 0 1.5px rgb(53, 181, 220);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#web-description {
    margin-left: 55px;
    word-wrap: break-word;
    height: 50px;
    width: 500px;
}

#web-link {
    margin-left: 55px;
    margin-bottom: 20px;
}

#web-location {
    margin-left: 55px;
    margin-bottom: 20px;
}

#space-it-out {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40px;
}

.next-song-arrow {
    cursor: pointer;
}

#full-package {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
}

#songLinkList {
    list-style-type: decimal;
    margin-top: 30px;
    margin-right: 10px;
    width: 360px;
}

.song-links {
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.link-link {
    display: flex;
}

.user-albums {
    width:100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.user-albums2 {
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.username-for-album {
    cursor: pointer;
}

.song-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40px;
}

.delete-link-icon {
    cursor: pointer;
}

#album-frame {
    width:300px;
    margin-top:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#album-frame-label {
    margin-top:15px;
    text-decoration: underline;
}

#tracks {
    text-decoration: underline;
}

.expandable {
    padding-left: .73em;
    cursor: pointer;
}

.songList > li{
    opacity: 1;
    transition: all .5s;
}

.songListwindow > li {
    opacity: 0;
    transition: all .5s;
}

.align-items {
    display: flex;
    justify-content: center;
    width:100%;
}

.album-spacer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 93%;
}

#prof-albs {
    position: relative;
    left:45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:250px;
    margin-bottom:30px;
}

#alb-owner {
    text-decoration: underline;
}

#create-alb {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    font-size: 13px;
    background-color: white;
    color: rgb(95, 95, 95);
    border: 1px solid rgb(165, 165, 165);
    cursor: pointer;
} 

