#pageBody {
    position:fixed;
    height:100%;
    width:100%;
    background-color: whitesmoke;
}

.login-container {
    position: fixed;
    top:25%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Helvetica';
    text-align: center;
}

form {
    width: 100%;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3.login-header {
    font-weight: 400;
}

.divider {
    border-bottom: 2px dotted lightgrey;
    margin: 40px;
}

.login-form-container label{
    margin-top: 10px;
    margin-right: 20px;
}

.login-username {
    width: 100%;
    padding: 10px;
}

.login-password {
    width: 100%;
    padding: 10px;
}

.login-button {
    padding: 10px;
    box-sizing:border-box;
}

#login-footer {
    padding: 50px;
}

h6#switch-text {
    font-size: small;
    color: grey;
}

button {
    background-color: rgb(0,161,198);
    border-style: hidden;
    cursor: pointer;
    width: 300px;
    height: 33px;
    color:white;
    font-weight: 550;
    outline: none;
}

input#password-field.invalid-creds {
    border-color: red;
}

input#username-field.invalid-creds {
    border-color: red;
}

#password-field {
  
    border: 1px solid lightgrey;
    width: 300px;
    height: 33px;
    outline: none;
}

#username-field {
   
    border: 1px solid lightgrey;
    width: 300px;
    height: 33px;
    outline: none;
}

.error-message {
    color: red
}

.disappear {
    display:none;
}